#titlecard {
    text-align: center;
    padding-top: 3px;
}

#fuwah-home {
    text-decoration: none;
    text-align: center;
    font-size: 90px;
    color: black;
}

html {
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

#date {
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.5px;
    margin-bottom: 1%;
}

#hour-minute {
    margin-top: 0px;
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.5px;
}

#disclaimer {
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.5px;
}

.popular-items h3{
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.5px;
}

.popular-items p {
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.5px;
}

.navbar {
    overflow: hidden;
    text-align: center;
    position: fixed; /* Sets nav bar pos to be fixed */
    top: 0; /* Positions the nav bar to be at top of page*/
    width: 100%; /* Full width */
    background-color: white;
    z-index: 1;
    min-width: 768px;
}

.navbar-mobile {
    display: none;
    overflow: hidden;
    position: fixed; /* Sets nav bar pos to be fixed */
    top: 0; /* Positions the nav bar to be at top of page*/
    width: 100%; /* Full width */
    background-color: white;
    z-index: 2;
    max-width: 768px;
    height: 52px;
}

#navbar-tab-holder {
    margin-left: 0px; /* placeholder centering value for now */
}

#logo {
    text-decoration: none;
    float: left;
    color: black;
    font-size: 39px;
    padding-left: 5px;
}

#navbar-mobile-tab-holder a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: black;
    font-size: 39px;
    padding-right: 6px;
}

#mobile-tabs {
    display: none;
    text-align: center;
    margin-top: 52px;
    margin-bottom: -50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: -20%;
    z-index: 1;
    background-color: white;
    line-height: 2.5;
}

.hidden {
    display: none;
}

#mobile-tabs a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    display: block;
}

#mobile-menu, #mobile-about, #mobile-hours, #mobile-location {
    border-bottom: 1px solid black;
}

#mobile-tabs .dropdown {
    position: relative;
}

#mobile-tabs .dropdown-holder {
    width: 100%;
    border-bottom: 1px solid black;
}

#mobile-tabs .dropdown-content {
    position: absolute;
    z-index: 0;
}

.navbar a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-inline: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    font-size: 18px;
    letter-spacing: 0.5px;
    position: relative;
    color: black;
    padding: 0 10px;
    margin-left: 30px;
}

.navbar a:not(.dropbtn):not(.dropdown-content a):after, #diffA:after {
    content: "";
    position: absolute;
    background-color: black;
    height: 1px;
    width: 0%;
    left: 0px;
    bottom: -5px;
    transition: 0.3s;
}

.navbar a:not(.dropbtn):not(.dropdown-content a):hover:after, #diffA:hover:after {
    width: 100%;
}

.navbar a:not(.dropbtn):not(.dropdown-content a).underline:after, #diffA.underline:after {
    width: 100%;
}

/* #location {
    text-align: center;
} */

#about {
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.5px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    line-height: 2.0;
    scroll-margin-top: 52px; /* no support for IE */
}

#menu {
    scroll-margin-top: 52px; /* no support for IE */
}

.botInfoBar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
}

#address {
    margin-left: 20%;
}

#bizHours {
    margin-right: 20%;
}

.main {
    margin-top: 50px;
    
}

.main-body-fade {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; transform: translateY(30px); }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
  
 @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    text-align: center;
    position: fixed;
    z-index: 1;
    padding-bottom: 5px;
    white-space: nowrap;
}

.dropdown-content a {
    color: black;
    display: block;
    text-decoration: none;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.0s;
}

.dropdown-content a:hover {
    background-color: gray;
    color: white;
}

#mobile-tabs .dropdown-content a:hover {
    background-color: gray;
    color: white;
}

* {box-sizing: border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#phone-number, #restaurant-location {
    color: black;
}

#copyright-marker {
    color: black;
    text-align: center;
}

@media (max-width: 768px) {
    #address {
        margin-left: 10%;
    }
    
    #bizHours {
        margin-right: 10%;
    }

    .botInfoBar {
        width: 100%;
    }

    .navbar {
        display: none;
    }

    .navbar-mobile {
        display: block;
    }

    #navbar-mobile-tab-holder {
        display: block;
    }
}
