#titlecard {
    text-align: center;
    padding-top: 3px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

.navbar {
    overflow: hidden;
    text-align: center;
    position: fixed; /* Sets nav bar pos to be fixed */
    top: 0; /* Positions the nav bar to be at top of page*/
    width: 100%; /* Full width */
    background-color: white;
    z-index: 1;
}

.navbar a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-inline: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    font-size: 18px;
    letter-spacing: 0.5px;
    position: relative;
    color: black;
    padding: 0 10px;
    margin-left: 30px;
}

.navbar a:after {
    content: "";
    position: absolute;
    background-color: black;
    height: 1px;
    width: 0%;
    left: 0px;
    bottom: -5px;
    transition: 0.3s;
}

.navbar a:hover:after {
    width: 100%;
}

.navbar a.underline:after {
    width: 100%;
}

#location {
    text-align: center;
}

.botInfoBar {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: auto;
    margin-left: 40px;
}

.main {
    margin-top: 50px;
}

#availability {
    margin: 0px;
}

.dropdown {
    overflow: hidden;
    display: inline;
}

.dropdown-content {
    display: none;
    text-align: center;
    position: fixed;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* border: 1px solid #73AD21; */
    z-index: 1;
    min-width: 122px;
    background-color: white;
    margin-left: 45.4%;
    margin-top: 0px;
    padding-bottom: 5px;
}

.dropdown-content a {
    float: none;
    color: black;
    display: block;
    text-decoration: none;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}

.dropdown-content a:hover {
    background-color: gray;
    color: white;
}